
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F8FA;
    /* width: 100%; */
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
.both{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.my-nav{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
}
/* large display */
.lg-display{
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.brand-name{
    display: flex;
    align-items: center;
}
.brand-name img{
    margin-right: 5px;
}

.nav-ul-lg{
    display: flex;
    padding: 0px 10px;
    cursor: pointer;
}
.nav-ul-lg li{
    padding: 10px;
}
.nav-ul-lg li:hover{
    font-weight: 700;
    color: rgb(41, 40, 40);
}
.date-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 250;
    font-size: 12px;
    margin-top: 10px;
}
.my-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    margin-top: 1rem;
    line-height: 2rem;
    display: none;
    position: fixed;
    top: 100px;
}
.my-card-con{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-top: 20px;
}
.my-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
}

/* small display */
.nav-ul-sm{
    align-items: center;  
   margin: auto;
   /* width: 100%; */
   display: flex;
   display: none;
   flex-direction: column;
}
#close-nav{
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 20px;
}
#submit{
    margin: 50px;
}
/* card items */
.img-card{
    width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
   border-radius: 10px;
}
.my-text{
  line-height: 22px;
  padding: 10px;
  position: relative;
}
/* dropdwown */
.dropdown{
    position: relative;
}
.sub-drop{
    position: absolute;
    display: block;
}
/* loader */
.center {
    align-items: center;
    height: 400px;
    display: none;
    justify-content: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fb2f2f;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  } 

@media (min-width:768px) {
    .lg-display{
        display: flex;
    }
    .sm-display{
        display: none;
    }
    .my-grid{
        grid-template-columns: 1fr 3fr;
    }
    .my-card{
        display: block;
    }
}